<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.2.xsd">

	<http auto-config="true">
		<intercept-url pattern="/adduser**" access="ROLE_admin" />
		<intercept-url pattern="/searchEdiuser**" access="ROLE_admin" />
		
		<form-login 
		    login-page="/" 
		    default-target-url="/dinventry" 
			authentication-failure-url="/login?error" 
			username-parameter="username"
			password-parameter="password"
			login-processing-url="/j_spring_security_check" />
		<logout logout-success-url="/login?logout" />
		<!-- enable csrf protection -->
		<csrf/>
	</http>

	<authentication-manager>
	  <authentication-provider>
	    <user-service>
		<user name="admin" password="123456" authorities="ROLE_USER" />
		<user name="adminadmin" password="123456" authorities="ROLE_admin" />
	    </user-service>
	  </authentication-provider>
	</authentication-manager>

</beans:beans>
